<?xml version="1.0" encoding="UTF-8"?>
  <testsuites>
    <testsuite name="primed">
      <directory>tests/BitTorrent</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">PHP</directory>
    </whitelist>
  </filter>
</phpunit>
