
/**
 * Mixin: _typography.scss
 *
 * Mixin to set color and font settings
 * Config-File: config/colors, config/typography
 * 
 */


@mixin fontcolor($color: '') {
    @if $color == '' {
        color               : $textColor;
    } @else if $color == 'grey' {
        color               : $grey;
    } @else if $color == 'white' {
        color               : $white;
    } @else if $color == 'green' {
        color               : $green;
    } @else if $color == 'red' {
        color               : $red;
    }
}


@mixin font-size($size: ''){
	@if $size == '' { $size: $defaultFontSize; }
  	font-size: $size + px;
  	font-size: ($size / 16) + rem;
}


@mixin font-size-multiply($val: ''){
    @if $val == '' { $val: 1; }
    font-size: ($defaultFontSize * $val) + px;
    font-size: (($defaultFontSize * $val) / 16) + rem;
}


@mixin basefont($fs: '', $fc: '') {
    @if $fs == '' { $fs: $defaultFontSize; }
    @if $fc == '' { $fs: $textColor; }
	font-family: $defaultFontFamily;
    @include fontcolor($color: $fc);
    @include font-size($size: $fs);
}

