
/**
 * Application style: body mediaqueries
 *
 * Resize elements of Page Body depending on device screen resolution
 * 
 */


/** 
 * Small Desktop / Notebook  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 */


@media only screen and (max-height: 768px) {
	
	.stage-wrapper .content {
		max-height: 600px;

		.section {
			width: 1800px;

			img {
				max-height: 580px;
			}

		  .dash-spargel {
		    left: 510px;
		    top: 148px;
		  }

		  .dash-spargel2 {
		    left: 1425px;
    		top: 148px;
		  }

		  .dash-picknick {
		    left: 880px;
    		top: 750px;
		  }

		  .dash-fleisch {
		    left: 1530px;
    		top: 750px;
		  }

		  .dash-fisch {
		    left: 530px;
    		top: 1355px;
		  }

		  .dash-wein {
		    left: 1570px;
    		top: 1370px;
		  }
		}
	}

	.stage-wrapper nav.bottom {
		bottom: 85px; 
	}

	.stage-wrapper .mobile-content {
	  	display: none;
	}

	.stage-wrapper .viewport-too-small {
		display: none;
	}
}


/**
 * Ipad Landscape  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 */


@media only screen and (max-height: 768px) and (max-width: 1024px) {
	
	.stage-wrapper .content {
		max-height: 550px;

		.section {
			width: 1600px;

			img {
				max-height: 530px;
			}

		  .dash-spargel {
		    left: 460px;
		    top: 148px;
		  }

		  .dash-spargel2 {
		    left: 1307px;
    		top: 148px;
		  }

		  .dash-picknick {
		    left: 810px;
    		top: 700px;
		  }

		  .dash-fleisch {
		    left: 1385px;
    		top: 720px;
		  }

		  .dash-fisch {
		    left: 481px;
    		top: 1255px;
		  }

		  .dash-wein {
		    left: 1430px;
    		top: 1275px;
		  }
		}
	}

	.stage-wrapper nav.bottom {
		bottom: 55px; 
	}

	.stage-wrapper .mobile-content {
	  	display: none;
	}

	.stage-wrapper .viewport-too-small {
		display: none;
	}
}


/**
 * Ipad Portrait  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 */


@media only screen and (max-height: 1024px) and (max-width: 768px) {
	
	.stage-wrapper .content {
		max-height: 420px;

		.section {
			width: 1500px;

			img {
				max-height: 480px;
			}

			.picknick {
				width: 660px;
			}

			.wein {
				width: 690px;
			}

		  .dash-spargel {
		    left: 420px;
		    top: 148px;
		  }

		  .dash-spargel2 {
		    left: 1125px;
    		top: 143px;
		  }

		  .dash-picknick {
		    left: 600px;
    		top: 640px;
		  }

		  .dash-fleisch {
		    left: 1115px;
    		top: 655px;
		  }

		  .dash-fisch {
		    left: 434px;
    		top: 1152px;
		  }

		  .dash-wein {
		    left: 1130px;
    		top: 1160px;
		  }
		}
	}

	.stage-wrapper nav.bottom {
		bottom: 55px; 
	}

	.stage-wrapper nav.right {
		right: 55px; 
	}

	.stage-wrapper nav.left {
		left: 55px; 
	}

	.stage-wrapper .mobile-content {
	  	display: none;
	}

	.stage-wrapper .viewport-too-small {
		display: none;
	}
}


/**
 * Iphone 4 und andere - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 */


@media only screen and (max-height: 940px) and (max-width: 640px) {


	.stage-wrapper .content {
	  	display: block;
	}

	.stage-wrapper .mobile-content {
	  	display: none;
	}

	.stage-wrapper .viewport-too-small {
		display: none;
	}

	.stage-wrapper .content {
		max-height: 420px;

		.section {
			width: 1130px;

			img {
			}

			.spargel2 {
				width: 442px;
			}

			.spargel {
				width: auto;
				height: 295px;
			}
			
			.fleisch {
				width: auto;
				height: 258px;
			}

			.picknick {
				width: auto;
				height: 258px;
			}

			.wein {
				width: 470px;
			}

			.fisch {
				height: 295px;
			}

		  .dash-spargel {
		    left: 256px;
    		top: 148px;
		  }

		  .dash-spargel2 {
		    left: 707px;
    		top: 283px;
		  }

		  .dash-picknick {
		    left: 3px;
    		top: 484px;
		  }

		  .dash-fleisch {
		    left: 575px;
    		top: 636px;
		  }

		  .dash-fisch {
		    left: 42px;
    		top: 842px;
		  }

		  .dash-wein {
		    left: 719px;
    		top: 754px;
		  }
		}
	}



	.stage-wrapper .content {
		margin-left: 10px;
	}

	.stage-wrapper .button {
	  	width: 48px;
	  	height: 48px;
	}

	.stage-wrapper nav.top {
	    top: 150px;
	    left: 50%;
	    margin-left: -24px;
	    background-image: url("../images/icons/mobile-up.png");
	  }

	.stage-wrapper nav.left {
	    top: 50%;
	    left: 20px;
	    margin-top: -24px;
	    background-image: url("../images/icons/mobile-left.png");
	  }

	.stage-wrapper nav.right {
	    top: 50%;
	    right: 20px;
	    margin-top: -24px;
	    background-image: url("../images/icons/mobile-right.png");
	  }

	.stage-wrapper  nav.bottom {
	    bottom: 30px;
	    left: 50%;
	    margin-left: -24px;
	    background-image: url("../images/icons/mobile-down.png");
	  }

}

@media only screen and (max-height: 640px) and (max-width: 940px) {

	.stage-wrapper .content {
	  	display: block;
	}

	.stage-wrapper .mobile-content {
	  	display: none;
	}

	.stage-wrapper .viewport-too-small {
		display: none;
	}
	
	.stage-wrapper .content {
		max-height: 420px;

		.section {
			width: 1130px;

			img {
			}

			.spargel2 {
				width: 442px;
			}

			.spargel {
				width: auto;
				height: 295px;
			}
			
			.fleisch {
				width: auto;
				height: 258px;
			}

			.picknick {
				width: auto;
				height: 258px;
			}

			.wein {
				width: 470px;
			}

			.fisch {
				height: 295px;
			}

		  .dash-spargel {
		    left: 256px;
    		top: 148px;
		  }

		  .dash-spargel2 {
		    left: 707px;
    		top: 283px;
		  }

		  .dash-picknick {
		    left: 3px;
    		top: 484px;
		  }

		  .dash-fleisch {
		    left: 575px;
    		top: 636px;
		  }

		  .dash-fisch {
		    left: 42px;
    		top: 842px;
		  }

		  .dash-wein {
		    left: 719px;
    		top: 754px;
		  }
		}
	}


	.stage-wrapper .content {
		margin-left: 10px;
	}

	.stage-wrapper .button {
	  	width: 48px;
	  	height: 48px;
	}

	.stage-wrapper nav.top {
	    top: 150px;
	    left: 50%;
	    margin-left: -24px;
	    background-image: url("../images/icons/mobile-up.png");
	  }

	.stage-wrapper nav.left {
	    top: 50%;
	    left: 20px;
	    margin-top: -24px;
	    background-image: url("../images/icons/mobile-left.png");
	  }

	.stage-wrapper nav.right {
	    top: 50%;
	    right: 20px;
	    margin-top: -24px;
	    background-image: url("../images/icons/mobile-right.png");
	  }

	.stage-wrapper  nav.bottom {
	    bottom: 30px;
	    left: 50%;
	    margin-left: -24px;
	    background-image: url("../images/icons/mobile-down.png");
	  }

}


/**
 * Iphone 3  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 */

@media only screen and (max-height: 320px) and (max-width: 480px) {

	.stage-wrapper .info {
	  	display: none;
	}

	.stage-wrapper .mobile-content {
	  	display: none;
	}

	.stage-wrapper .content {
		max-height: 420px;
		margin-left: 10px;
		margin-top: 115px;

		.section {
			width: 1130px;

			.dash {
				background-size: 35px auto;
				height: 35px;
				width: 35px;
			}

			.spargel2 {
				width: 442px;
				margin-bottom: 20px;
			    margin-right: 20px;
			    margin-top: 130px;
			}

			.spargel {
				width: auto;
				height: 295px;
				margin: 130px 20px 20px;
			}
			
			.fleisch {
				width: auto;
				height: 258px;
			}

			.picknick {
				width: auto;
				height: 258px;
			}

			.wein {
				width: 470px;
			}

			.fisch {
				height: 295px;
			}

		  .dash-spargel {
		    left: 256px;
			top: 134px;
		  }

		  .dash-spargel2 {
		    left: 703px;
			top: 273px;
		  }

		  .dash-picknick {
		    left: 3px !important;
			top: 458px !important
		  }

		  .dash-fleisch {
		    left: 686px !important;
    		top: 452px !important;
		  }

		  .dash-fisch {
		    left: 42px !important;
			top: 842px !important;
		  }

		  .dash-wein {
		    left: 719px !important;
			top: 754px !important;
		  }
		}
	}

	.stage-wrapper .info {
		display: none;
	}


	.stage-wrapper .button {
	  	width: 35px;
	  	height: 35px;
	  	background-size: 35px auto;
	}

	.stage-wrapper nav.top {
	    top: 100px;
	    left: 50%;
	    margin-left: -24px;
	    background-image: url("../images/icons/mobile-up.png");
	  }

	.stage-wrapper nav.left {
	    top: 50%;
	    left: 10px;
	    margin-top: -24px;
	    background-image: url("../images/icons/mobile-left.png");
	  }

	.stage-wrapper nav.right {
	    top: 50%;
	    right: 10px;
	    margin-top: -24px;
	    background-image: url("../images/icons/mobile-right.png");
	  }

	.stage-wrapper  nav.bottom {
	    bottom: 5px;
	    left: 50%;
	    margin-left: -24px;
	    background-image: url("../images/icons/mobile-down.png");
	  }
}


@media only screen and (max-width: 320px) and (max-height: 480px) {

	.stage-wrapper .content {
		display: none;
	}

	.stage-wrapper .info {
	  	display: none;
	}

	.stage-wrapper .mobile-content {
	  	display: none;
	}

	.stage-wrapper .viewport-too-small {
	  	display: inline-block;
	}

	.stage-wrapper .button {
	  	display: none;
	}

}










@media only screen and (max-height: 900px) and (max-width: 1440px) { 
		
	.stage-wrapper .content .picknick {
		width: 1300px;
	}

	.stage-wrapper .content .section .dash-picknick {
	    left: 1219px;
		top: 1020px;
	}

	.stage-wrapper .content .section .dash-fleisch {
	    left: 2088px;
		top: 1020px;
	}

	.stage-wrapper .content .section .dash-wein {
	    left: 2095px;
		top: 1870px;
	}
}
