
/**
 * Config: _dimensions.scss
 *
 * Base dimension settings
 * 
 */


$columns: 						12; 
$max-page-width: 				1200; 
$padding: 						1rem; 

$paddingLarge:          		11px 19px !default; // 44px
$paddingSmall:          		2px 10px !default;  // 26px
$paddingMini:           		0px 6px !default;   // 22px

$baseBorderRadius : 			4px;
$borderRadiusDefault : 			$baseBorderRadius;
$borderRadiusLarge : 			6px;
$borderRadiusSmall : 			3px;
$borderHeroRadius : 			15px;
$inputBorderRadius :    		$borderRadiusSmall;

// Navbar
$navbarCollapseWidth:             979px !default;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    40px !default;
$navbarBackgroundHighlight:       #ffffff !default;

$navbarText:                      #777 !default;
$navbarLinkColor:                 #777 !default;
$navbarLinkColorHover:            $grayDark !default;
$navbarLinkColorActive:           $gray !default;

// Inverted navbar
$navbarInverseBackground:         #111111 !default;
$navbarInverseBackgroundHighlight:#222222 !default;
$navbarInverseBorder:             #252525 !default;

