

header {
  @include column(12, $padding:0); 
  height: 90px;
  margin-top: 20px;
  float: left;
  padding-top: 20px;
  background-color: #fff;
  @include opacity(0.85); 
  position: absolute;
  z-index: 2;

  .banner {
    @include column(2, $padding:0); 
    float: left;
    margin-top: -41px;
    position: absolute;

    .img-banner-mobile {
        display: none;
    }
  }

  /*.logo {
    float: left;
    margin-left: 300px;
    margin-top: 10px;
    margin-right: 65px;
  }*/

  .claim {
    color: #7B7B7B;
    font-size: 32px;
    left: 50%;
    line-height: 0.1;
    margin-left: -300px;
    position: absolute;
    top: 5px;
    width: 520px;

    .claim-image {
      width: 300px;
      margin-top: 20px;
    }

    .logo {
      margin-right: 65px;
    }

  }

  .link,
  .link:hover,
  .link:active,
  .link:visited {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'Cabin';
    font-weight: 600;
    font-size: 10px;
    color: #7b7b7b;
    text-decoration: none;
  }

}